<!-- Using bootstrap for better display -->
<div class="container">
	<div class="text-center">
		<h1>{{title}}</h1>
		<p>Welcome to {{title}}</p>
		<br />
	</div>

	<div id="syndicator" class="row"></div>
</div>
<script src='/javascripts/syndicator.js'></script>
