body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#suggestions {
  border:none;
}

#suggestions a.list-group-item {
  cursor:pointer;
}

#searchOutput,
div.alert {
  width:100%;
}